 @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');*
 {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }
 body {
    min-height: 100vh;
    background: rgb(226,226,226);
    background: linear-gradient(90deg, rgba(180,180,180,1) 0%, rgba(255,255,255,1) 40%, rgba(230,230,230,1) 100%);
    margin: auto;
 }
 .menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #222327;
 }
 .navigation {
     width: 440px;
     height: 70px;
     background: #fff;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     margin-top: 20px;
 }
 .icon {
     margin-top: 22px;
 }
 .text {
     margin-top: 30px;
 }
 .navigation ul {
     display: flex;
     width: 350px;
 }
 .navigation ul li {
     position: relative;
     list-style: none;
     width: 70px;
     height: 70px;
     z-index: 1;
 }
 .navigation ul li a
 {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 100%;
     text-align: center;
     font-weight: 500;
 }
 .navigation ul li a .icon {
     position: relative;
     display: block;
     line-height: 75px;
     font-size: 1.5em;
     text-align: center;
     transition: 0.5s;
     color: #222327;
 }
 .navigation ul li.active a .icon{
     transform: translateY(-32px);
 }
 .navigation ul li a .text
 {
     position: absolute;
     color: #222327;
     font-weight: 400;
     font-size: 0.75em;
     letter-spacing: 0.05em;
     transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
 }
 .navigation ul li.active a .text {
     opacity: 1;
     transform: translateY(10px);

 }
 .indicator {
     position: absolute;
     top: -50%;
     height: 70px;
     width: 70px;
     background: #29fd53;
     border-radius: 50%;
     border: 6px solid #222327;
     transition: 0.5s;
 }
 .indicator::before {
     content: '';
     position: absolute;
     top: 50%;
     left: -22px;
     width: 20px;
     height: 20px;
     background: transparent;
     border-top-right-radius: 20px;
     box-shadow: 0px -10px 0 0 #222327;
 }
 .indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 #222327;
}
.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}
.socialmedia {
    display: flex;
    width: 180px;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
}
.social {
    display: flex;
}
.social :hover {
    transform: translateY(-8px);
    transition: 0.4s;
}
.socialmedia .social .icon {
    font-size: 2em;
}
.socialmedia .social a {
    text-decoration: none;
    color: #fff;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    background: #fff;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 50px 75px rgba(0,0,0,0.1);
    border-left: 50px solid #fff;
    border-right: 50px solid #fff;
}
.container .top
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
}
.container .top .imgBx
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.container .top .imgBx .box
{
    position: relative;
    width: 70%;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}
.container .top .imgBx .box img
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .top .profileText
{
    position: relative;
    padding: 40px;
    display: flex;
    align-items: center;
}
.container .top .profileText h3
{
    font-size: 3em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-weight: 600;
    color: #333;
}
.container .top .profileText h3 span
{
    position: relative;
    font-size: 0.5em;
    font-weight: 300;
    top: -10px;
}
.container .contentBox
{
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 40px 40px;
}
.container .contentBox h3
{
    border-left: 4px solid #29fd53;
    padding-left: 10px;
    line-height: 1em;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px;
}
.container .contentBox ul
{
    position: relative;
    margin: 10px 0;
}
.container .contentBox ul li
{
    list-style: none;
    margin: 25px 0;
    line-height: 1em;
    color: #333;
    cursor: pointer;
    display: flex;
}
.container .contentBox ul li ion-icon
{
    font-size: 1.2em;
    margin-right: 10px;
    color: #3590d2;
}
.container .contentBox ul.education li
{
    flex-direction: column;
    margin: 25px;
}
h5
{
    color: #3590d2
}
h4
{
    color: #333;
    font-weight: 500;
    margin: 5px 0;
}
h6
{
    color: #666;
    font-weight: 300;
    font-size: 1em;
}
.language li
{
    flex-direction: column;
}
.language li span
{
    color: #333;
    font-size: 16px;
    font-weight: 500;
}
.language .percent
{
    position: relative;
    width: 100%;
    background: #e3e3e3;
    height: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}
.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}
.container .contentBox ul.interest
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container .contentBox ul.interest li
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.container .contentBox ul.interest li .icon
{
    position: relative;
    width: 40px;
    height: 40px;
    background: #3590d2;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .contentBox ul.interest li .icon ion-icon
{
    color: #fff;
    margin-right: 0;
}
p
{
    font-style: 300;
}
.rightSide
{
    padding-left: 40px;
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    align-items: flex-end;
}
.about .box .year_company
{
    min-width: 150px;
    margin-bottom: 10px;
}
.about .box .year_company h5
{
    color: #333;
    font-weight: 600;
}
.about .box .year_company h5:nth-child(1)
{
    color: #3590d2;
}
.about .box .text h4
{
    color: #3590d2;
    font-weight: 16px;
    margin: 0;
}
.about.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.about.skills .box h4
{
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
}
.about.skills .box .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #e3e3e3;
}
.about.skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}

.footer {
    height: 250px;
    background-color: #222327;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.nawigacjastopki {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nawigacjastopkilink {
    width: 150px;
    font-size: 1.3em;
    text-align: center;
}
.nawigacjastopkilink a {
    color: #fff;
    text-decoration: none;
}
.copyright {
    text-align: center;
    color: #fff;
}